[submodule "awesome/.config/awesome/lain"]
	path = awesome/.config/awesome/lain
	url = git@github.com:lcpz/lain
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:vividsystem/custonvim
